


#nav-home-tab, #nav-profile-tab {
    color: var(--pi-label-color);
    background-color: var(--pi-back-color);
    border-color: var(--pi-back-color) var(--pi-back-color) var(--tab-border-color) var(--pi-back-color) !important;
}



.ProviderAccordian {
    display: none;
}

#mb-Documents{
    display:none;
}

.ReqHandleBtnContainer {
    column-gap: 1rem;
}

.logoutIcon, .menu-btn {
    display: none;
}

.RightSideDashNav {
    column-gap: 2rem;
}

#mb-DashReqContainer{
    display:none;
}

.tab-link {
    border: 1px solid white;
    color: black;
}

.big-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/*.table > thead > tr {
    background-color: green;
}*/

/*#searchinp:focus {
    border: none !important;
}
*/


.big-btn1 {
    background-color: #0d6efd !important;
    color: white !important;
}

.big-btn2 {
    background-color: #0dcaf0 !important;
    color: white !important;
}

.big-btn3 {
    background-color: #198754 !important;
    color: white !important;
}

.big-btn4 {
    background-color: #f92cf3 !important;
    color: white !important;
}

.big-btn5 {
    background-color: #43baff !important;
    color: white !important;
}

.big-btn6 {
    background-color: #6506a1 !important;
    color: white !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
   
}

#PageNumberInput {
    background: transparent;
    border: none;
    color: white;
    width: 16px;
}

#PageNumberInput:focus{
    outline:none;
}
/*
.ActiveStauts:after{
     
    bottom:-1rem;
    left:0;
    width:5rem;
    height:5rem;
    background-color:red;

}
*/
.action-btn {
    border: 1px solid white;
    color: white;
}

    .action-btn:hover {
        border-color: white !important;
    }

.phone-col {
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    width: 11rem;
    height: 40px;
    justify-content: center;
    align-items: center;
    column-gap: 7px
}



#SideDashBar {
    position: absolute;
    height: 100%;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .4s;
    left: -303px;
    z-index: 9999;
    background-color: white;
    display: none;
}

#RoleTypeContainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap:1rem;
}

.SideDashBarToggle {
    left: 0 !important;
}

.AccordianIcons {
    border: 1px solid #0dcaf0;
    border-radius: 40%;
    color: #0dcaf0;
}

.linkTypeBtn {
    height: 2rem;
    display: flex;
    align-items: center;
    border: none;
    background-color: green;
    padding: 1rem;
    color: white;
    border-radius: 20px;
    width: 9rem;
    justify-content: center;
}

.NotesContainer {
    color: var(--NotesContainer-color);
    box-shadow: var(--NotesContainer-shadow);
    border-radius:10px;
}

.canvasGroup{
    display:none;
    transition:0.2s;
}
/*h2 {
    color: var(--NotesContainer-color);
}*/
.RequestorTypeHeading {
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    color: white;
}

.ReqType-Heading {
    color: var( --pi-label-color);
}

    .ReqType-Heading:hover {
       /* border: 1px solid transparent;*/
        color: var(--pi-label-color);
    }


.tab-link {
    border-color: transparent;
    color: var( --pi-label-color);
}

    .tab-link.nav-link:hover {
        /*color: var( --pi-label-color) !important;*/
        cursor:pointer;
    }

    .tab-link.active {
        border-width: 1px;
        border-color: transparent transparent #0dcaf0 transparent !important;
        color: #0dcaf0;
        transition: 0.4s;
        
    }

#RegionChekboxdiv {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.show-icon{
    display:none;
}

.form-check-label {
    white-space: normal !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

input[type="checkbox"]:checked {
    background: #0dcaf0;
    color: white;
    border-color: #0dcaf0;
}

#ProviderTableContainer {
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    padding:0;
}
.ProviderMenuHeader {
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    border-radius: 10px 10px 0 0;

}

#mb-ViewUploadTable{
    display:none;
}

.shiftBoxes{
    width:4rem;
    height:2rem;
    border-width:1px;
    border-radius:7px;
    border-style:solid;
}

.MobileDayCells {
    position: relative;
    top: -9px;
    background: white;
    display: flex;
    justify-content: end;
    width: 4rem;
    height:3rem;
    margin-right: 1rem;
    font-size:12px;
}

.page-item{

box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
padding: 8px;
border-radius: 6px;

}

@media only screen and (max-width: 550px) {
    /*  #innerLogout{

        display:none;

    }

    #outerLogout{
        display: block;
    }*/
}

@media only screen and (max-width: 600px) {
    #username {
        display: none;
    }

    /*#tableContainer {
        display:none;
    }*/

    .ProviderAccordian {
        display: block;
    }

    .ReqtableContainer {
        display: none;
    }

    #mb-DashReqContainer{
        display:block;
    }

    .text-vanish {
        display: none;
    }

    .show-icon{
        display:block;
    }

    .Req-Heading2 {
        display: block !important;
    }

    .Req-Heading1 {
        display: none !important;
    }

    .ReqType-Heading {
        font-size: 12px;
    }

    .ReqHandleBtnContainer {
        column-gap: 10px !important;
    }

    .logoutIcon {
        display: block;
    }

    #pc-ViewUploadTable{
        display:none;
    }

    #mb-ViewUploadTable {
        display: flex;
    }

    #mb-Documents{
        display:block;
    }

     .UserTable{
        display:none;
    }

    .RightSideDashNav {
        column-gap: 1rem;
    }
}

@media only screen and (max-width:760px) {
    .Admintabs {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .LeftSideDashNav {
        display: flex;
        column-gap: 12px;
    }

    #navLogo {
        height: 3rem !important;
    }

    #SideDashBar {
        display: block;
    }

    .tab-link.active {
        color: white;
        background-color: #0dcaf0;
    }
}

.page-link {
    border: 1px solid #0dcaf0 !important;
    color: #0dcaf0 !important;
}