:root {
    --pi-back-color: white;
    --pi-form-back-color: white;
    --pi-label-color: black;
    --pi-heading-color: black;
    --pi-btn-border-width: 1px;
    --pi-btn-dark-hover-color: white;
    --pi-login-footer-color: rgba(108, 117, 125);
    --pi-deselected-lable-color: rgba(33,37,71);
    --date-icon-color: 0;
    --label-disabled: #EEEEEE;
    --tab-border-color: #dee2e6;
    --admindash-nav-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --disabled-input: #e9ecef;
}

.dark-theme {
    --pi-back-color: #222831;
    --pi-form-back-color: #393E46;
    --pi-label-color: #EEEEEE;
    --pi-heading-color: #EEEEEE;
    --pi-btn-border-width: 2px;
    --pi-btn-dark-hover-color: #393E46;
    --pi-login-footer-color: white;
    --pi-deselected-lable-color: white;
    --date-icon-color: 1;
    --label-disabled: #222831;
    --tab-border-color: #EEEEEE;
    --admindash-nav-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    --disabled-input: #6f7376;
}



body {
    background-color: var(--pi-back-color) !important;
}

label {
    color: var(--pi-label-color);
    white-space: break-spaces;
}
/*.form-floating > label::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue;
   
}

/ Style the ::after pseudo-element of the label when the input is focused /
.form-floating > .form-control:focus + label::after {
    background-color: red;
   
}*/


h3,h2,h4,h5,h6{
    color: var(--pi-heading-color);
}

.btn {
    border-width: var(--pi-btn-border-width);
}

.modal-content {
    background-color: var(--pi-form-back-color);
    color: var(--pi-label-color);
}

.patientSubmitFooter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: end;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    text-align: end;
    height: 3rem;
    padding: 1rem;
    color: white
}

.UserTable{
    color:var(--pi-label-color);
}
p{
    color:var(--pi-label-color);
}
.navbar {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: 5px 1px 18px #9b9b9b;
    /* background-color: var(--pi-back-color); */
}

.formContainer {
    background-color: var(--pi-form-back-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
}

.form-control {
    background-color: var(--pi-form-back-color);
    color: var(--pi-label-color);
}

    .form-control:focus {
        outline: none;
        border: 1px solid #0dcaf0 !important;
        background-color: var(--pi-form-back-color);
        color: var(--pi-label-color);
        box-shadow: none !important;
    }


.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color: var(--pi-form-back-color);
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    color: var(--pi-deselected-lable-color);
}

.form-floating>.form-control:disabled~label::after,
.form-floating>:disabled~label::after{
    color:red;
    background-color: var(--label-disabled) !important;
}

.form-control:disabled {
    background-color: var(--disabled-input);
    opacity: 1;
}

.form-control:focus ~ label {
    color: #0dcaf0 !important;
    /*background-color:white;*/
}

::-webkit-calendar-picker-indicator {
    filter: invert(var(--date-icon-color));
}


input[type='tel']::placeholder {
    color: var(--pi-heading-color);
}

input[type='file']:focus ~ label {
    color: white !important;
}


.darkInfo-btn:hover {
    border-color: #0dcaf0 !important;
    border-width: var(--pi-btn-border-width);
    color: #0dcaf0 !important;
    background: var(--pi-btn-dark-hover-color) !important;
}

.lightInfo-btn:hover,
.lightInfo-btn:hover > a > i,
.lightInfo-btn:hover > i {
    color: white !important;
}

::file-selector-button {
    display: none;
}

.phoneInputDiv > div {
    width: 100%;
}



/*.active {
    color: #0dcaf0 !important;
    border-color: white white #0dcaf0 white !important;
}*/
