


#nav-home-tab, #nav-profile-tab {
    color: var(--pi-label-color);
    background-color: var(--pi-back-color);
    border-color: var(--pi-back-color) var(--pi-back-color) var(--tab-border-color) var(--pi-back-color) !important;
}

/*#outerLogout {
    display: none;
}*/

.accordion{
    display:none;
}



@media only screen and (max-width: 550px) {
    #innerLogout{

        display:none;

    }

    #outerLogout{
        display: block;
    }

    #username{
        display:none;
    }

  /*  #navLogo{
        display:none;
    }*/

    .accordion{
        display:block;
    }

    .reqTable {
        display: none;
    }
  

}
