@model HalloDoc_DAL.AdminViewModels.SendLink;

<form id="SendLinkForm" mthod="post" asp-action="PostSendLink" asp-controller="Admindashboard">
    <div class="modal fade" id="SendLinkPopUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="CancleCaseContent">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Send Mail to patient to submiting request</h1>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid ">

                    <div class="row  justify-content-center" style="column-gap:1rem;">

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Firstname" type="text" class="form-control" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Firstname</label>
                                <span asp-validation-for="Firstname" class="text-danger"></span>
                            </div>
                        </div> 

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Lastname" type="text" class="form-control" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Lastname</label>
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                            </div>
                        </div>

                       @* <div class="col-12">
                            <div class="form-floating mb-3 phoneInputDiv">
                                <input asp-for="Phonenumber" style='height: 57px;' type="tel" id='phonInput' class="form-control"
                                       id="floatingInput">
                                <label for="floatingInput"></label>
                                <span asp-validation-for="Phonenumber" class="text-danger"></span>
                            </div>
                        </div>*@

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info  text-white darkInfo-btn" onclick="SendRequstLink()">Send</button>

                    <button type="button" class="btn btn-outline-info lightInfo-btn"
                            onclick="document.getElementById('SendLinkForm').reset();">
                        Cancle
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    console.log(1);
    @{
        Console.WriteLine("ofewif");
        <partial name="_ValidationScriptsPartial" />
    }
}


<script>
     


     
</script>