@model HalloDoc_DAL.AdminViewModels.SendAgreement;




@{

    string[] colors = { "#74d36e", "#ffb545", "#75ccff", "#e9aee7" };
    string[] requestorType = { "Patient", "Family/Friend", "Concierge", "Business" };



    <form id="SendAgreementForm" mthod="post" asp-action="SendAgrrementLink" asp-controller="Admindashboard" asp-route-requestId="@Model.requestId">
    <div class="modal fade" id="SendAgreementPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="CancleCaseContent">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Send Agreement</h1>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid ">

                        <p> <i class="bi bi-circle-fill mx-1" style="color:@colors[Model.Requestor]"></i>  @requestorType[Model.Requestor]</p>

                    <p>To Send Agreement please make sure you are updating the correct contact information below for the responsible party. </p>


                    <div class="row  justify-content-center" style="column-gap:1rem;">



                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Phonenumber" type="text" class="form-control" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Phonenumber</label>
                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                            </div> 
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info  text-white darkInfo-btn">Send</button>

                    <button type="button" onclick="document.getElementById('SendAgreementForm').reset();" class="btn btn-outline-info lightInfo-btn">

                        Cancle
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
}




@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


<script>



</script>

