




@{
    Layout = "_Layout";
}

<partial name="_DashNavbar" />


<partial name="_Dashtabs" />


@{
    
    string[] accountTypes = { "Admin", "Physician", "Patient" };

    <div class="container-fluid mt-3">
        <div class="row justify-content-center">


            <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 justify-content-between">
                <h3>Account Access</h3>
                <button class="btn btn-outline-info text-info lightInfo-btn" onclick="changeTab()">
                    <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
                </button>
            </div>


            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 mt-3 ProviderMenuHeader">


                <div class="row justify-content-end" style="border-radius:10px 10px 0px 0px;height: 6rem; align-items: center;background:var(--pi-form-back-color);">


                    <div class="col-12 d-flex justify-content-end">
                        <a asp-action="CreateRole" asp-controller="Provider" class="btn btn-outline-info  text-info lightInfo-btn " onclick="()"><i class="bi bi-plus-lg show-icon"></i><span class="text-vanish">Create Access</span></a>
                    </div>

                </div>


            </div>

        </div>


        <div class="row table-responsive"  style="justify-content:center">
            <div id="AccountAccessTableContainer" class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 p-0" style="box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;border-radius: 0px 0px 10px 10px;">

              


            </div>



        </div>


       
    </div>


}




<script>

    $(document).ready(function () {

        GetAccountAccessTableView('1',false);

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
        handleNavChange('pills-Access-tab')
    })







</script>