



@{
    Layout = "_Layout";
}

<partial name="_DashNavbar" />


<partial name="_Dashtabs" />

<div class="container-fluid mt-3">
    <div class="row justify-content-center">


        <div class="d-flex col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12 justify-content-between">
            <h3>Patient History</h3>
            <button class="btn btn-outline-info text-info lightInfo-btn" onclick="()">
                <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
            </button>
        </div>


        <div class="col-xl-10 col-lg-11 col-md-12 col-sm-11 col-11 mt-3 ProviderMenuHeader">

            <form>
                <div class="row  p-sm-3 p-3" style="row-gap:1rem;align-items: center;background:var(--pi-form-back-color);border-radius:10px 10px 0px 0px;">


                    <div class="col-lg-3 col-sm-10">
                        <div class="form-floating ">
                            <input  type="text" class="form-control" id="ph-Firstname"
                                   placeholder="name@example.com">
                            <label for="floatingInput">First Name</label>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-10">
                        <div class="form-floating ">
                            <input  type="text" class="form-control" id="ph-Lastname"
                                   placeholder="name@example.com">
                            <label for="floatingInput">Last Name</label>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                  

                    <div class="col-lg-3 col-sm-10">
                        <div class="form-floating ">
                            <input  type="email" class="form-control" id="ph-Email"
                                   placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-10">
                        <div class="form-floating ">
                            <input  type="text" class="form-control" id="ph-Phone"
                                   placeholder="name@example.com">
                            <label for="floatingInput">Phonenumber</label>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end" style="column-gap:1rem;">

                        <button type="reset" class="btn btn-outline-info text-info lightInfo-btn" onclick="()">
                            Clear
                        </button>
                        <button type="button" class="btn btn-info  text-white darkInfo-btn " onclick="GetPatientHistoryTableView('1',false)">Search</button>

                    </div>

                </div>



            </form>


        </div>

    </div>


    <div class="row" style="justify-content:center">
        <div id="PatientHistoryTableContainer" class="col-xl-10 col-lg-11 col-md-12 col-sm-11 col-11 justify-content-between p-0" style="box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;border-radius: 0px 0px 10px 10px;">


            @*<partial name="_ProviderTable"/>*@


        </div>






    </div>

</div>



<script>

    $(document).ready(function () {

        GetPatientHistoryTableView('1',false);

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
        handleNavChange('pills-Records-tab')
    })








</script>