@model HalloDoc_DAL.ProviderViewModels.PatientExplreView;

@{
    Layout = "_Layout";
}

<partial name="_DashNavbar" />


<partial name="_Dashtabs" />

<div class="container-fluid mt-3">
    <div class="row justify-content-center">


        <div class="d-flex col-xl-10 col-lg-11 col-md-12 col-sm-11 col-11 justify-content-between">
            <h3>Patient Record</h3>
            <a asp-controller="Provider" asp-action="PatientHistoryView" class="btn btn-outline-info text-info lightInfo-btn" onclick="()">
                <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
            </a>
        </div>


      

    </div>


    <div class="row mt-3" style="justify-content:center">
        <div id="PatientExploreTableContainer" class="col-xl-10 col-lg-11 col-md-12 col-sm-11 col-11 justify-content-between p-0" style="box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;border-radius: 0px 0px 10px 10px;">


            @*<partial name="_ProviderTable"/>*@


        </div>






    </div>

</div>



<script>

    $(document).ready(function () {

        GetPatientExploreTableView('1',false,@Model.UserId);

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
        handleNavChange('pills-Records-tab')
    })








</script>