html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.page-item {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 8px;
    border-radius: 6px;
}

#CategoryList{
    display:none;
}

#CategoryDrop{
    display:none;
}