


<ul class="nav  Admintabs" id="pills-tab" role="tablist" style="background-color: var(--pi-form-back-color);height:4rem;">
    <li class="nav-item" role="presentation">
        @*<a class="nav-link active tab-link" href="#" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dashboard</a>*@
        <a class="nav-link  tab-link"  id="dash-tab" asp-action="Dashboard" asp-controller="Admindashboard"  role="tab" aria-controls="pills-home" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item" role="presentation">
        @*<a class="nav-link tab-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Provider Location</a>*@
        <a class="nav-link tab-link" asp-action="ProviderLocations" asp-controller="Admindashboard" id="provider-location-tab" role="tab" aria-controls="pills-profile"  >Provider Location</a>
    </li>
    <li class="nav-item" role="presentation">
        @*<a class="nav-link tab-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">My Profile</a>*@
        <a class="nav-link tab-link" asp-action="AdminProfile" asp-controller="Admindashboard" id="admin-profile-tab"  role="tab" aria-controls="pills-contact" aria-selected="false">My Profile</a>
    </li>
    <li class="nav-item" role="presentation">



        <a class="btn nav-link tab-link" id="provider-menu-tab" style="border-color:transparent;" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
               Providers
        </a>

            <ul class="dropdown-menu">
              <a class="nav-link tab-link "  asp-action="ProviderMenu" asp-controller="Admindashboard"  role="tab" aria-controls="pills-disabled" aria-selected="false">Providers</a>
            <li><a asp-action="CreateProviderAccount" asp-controller="Provider" class="dropdown-item" >Create Provider Account</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
       
    </li>
    <li class="nav-item " role="presentation">
        <a class="nav-link tab-link" id="pills-partners-tab" data-bs-toggle="pill" data-bs-target="#pills-partners" a role="tab" aria-controls="pills-partners" aria-selected="false">Partners</a>
    </li>
    <li class="nav-item " role="presentation">


        <a class="btn nav-link tab-link" id="pills-Access-tab" style="border-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">Access</a>
        <ul class="dropdown-menu">
            <a class="nav-link tab-link " asp-action="AccountAccess" asp-controller="Provider" role="tab" aria-controls="pills-disabled" aria-selected="false">Account Access</a>
            <li><a asp-action="CreateRole" asp-controller="Provider" class="dropdown-item" >Create Role</a></li>
            <li><a asp-action="CreateAdminAccount" asp-controller="Provider" class="dropdown-item" >Create Admin Account</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>

    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tab-link" id="pills-Records-tab" data-bs-toggle="pill" data-bs-target="#pills-Records" a role="tab" aria-controls="pills-Records" aria-selected="false">Records</a>
    </li>
</ul>





<div id="SideDashBar">

    <nav class="nav flex-column" role="tablist">
        <a class="nav-link active tab-link" href="#" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dashboard</a>
        <a class="nav-link tab-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Provider Location</a>
        <a class="nav-link tab-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">My Profile</a>
        <a class="nav-link tab-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" a role="tab" aria-controls="pills-disabled" aria-selected="false">Providers</a>
        <a class="nav-link tab-link" id="pills-partners-tab" data-bs-toggle="pill" data-bs-target="#pills-partners" a role="tab" aria-controls="pills-partners" aria-selected="false">Partners</a>
        <a class="nav-link tab-link" id="pills-Access-tab" data-bs-toggle="pill" data-bs-target="#pills-Access" a role="tab" aria-controls="pills-Access" aria-selected="false">Access</a>
        <a class="nav-link tab-link" id="pills-Records-tab" data-bs-toggle="pill" data-bs-target="#pills-Records" a role="tab" aria-controls="pills-Records" aria-selected="false">Records</a>
    </nav>

</div>