





<nav class="navbar" style="box-shadow: var(--admindash-nav-shadow);">
        <div class="container-fluid">





            <img class="img-fluid" id="navLogo"  style="height: 5rem;" src="~/images/trans_logo.png" />
        <button type="button" id="outerLogout" class="btn btn-outline-info lightInfo-btn"
                onclick="">
            Logout
        </button>
           


            <div class="col-7 d-flex justify-content-end align-items-center" style="column-gap:2rem;">

                <h6 id="username">Welcome,@TempData["UserName"]</h6>
            <button type="button" id="innerLogout" class="btn btn-outline-info lightInfo-btn"
                        onclick="">
                    Logout
                </button>
                <button style="width: 3rem; height: 3rem;" type="button" class="btn btn-outline-info lightInfo-btn "
                        onclick="changeTheme()">
                    <i id='themeIcon' class="bi bi-moon text-info"></i>
                </button>

            </div>

        </div>
    </nav>




