


<ul class="nav  mb-3 Admintabs" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active tab-link" href="#" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tab-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Provider Location</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tab-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">My Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tab-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" a role="tab" aria-controls="pills-disabled" aria-selected="false">Providers</a>
    </li>
    <li class="nav-item " role="presentation">
        <a class="nav-link tab-link" id="pills-providers-tab" data-bs-toggle="pill" data-bs-target="#pills-provider" a role="tab" aria-controls="pills-provider" aria-selected="false">Providers</a>
    </li>
    <li class="nav-item " role="presentation">
        <a class="nav-link tab-link" id="pills-partners-tab" data-bs-toggle="pill" data-bs-target="#pills-partners" a role="tab" aria-controls="pills-partners" aria-selected="false">Partners</a>
    </li>
    <li class="nav-item " role="presentation">
        <a class="nav-link tab-link" id="pills-Access-tab" data-bs-toggle="pill" data-bs-target="#pills-Access" a role="tab" aria-controls="pills-Access" aria-selected="false">Access</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tab-link" id="pills-Records-tab" data-bs-toggle="pill" data-bs-target="#pills-Records" a role="tab" aria-controls="pills-Records" aria-selected="false">Records</a>
    </li>
</ul>





<div id="SideDashBar">

    <nav class="nav flex-column" role="tablist">
        <a class="nav-link active tab-link" href="#" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dashboard</a>
        <a class="nav-link tab-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Provider Location</a>
        <a class="nav-link tab-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">My Profile</a>
        <a class="nav-link tab-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" a role="tab" aria-controls="pills-disabled" aria-selected="false">Providers</a>
        <a class="nav-link tab-link" id="pills-partners-tab" data-bs-toggle="pill" data-bs-target="#pills-partners" a role="tab" aria-controls="pills-partners" aria-selected="false">Partners</a>
        <a class="nav-link tab-link" id="pills-Access-tab" data-bs-toggle="pill" data-bs-target="#pills-Access" a role="tab" aria-controls="pills-Access" aria-selected="false">Access</a>
        <a class="nav-link tab-link" id="pills-Records-tab" data-bs-toggle="pill" data-bs-target="#pills-Records" a role="tab" aria-controls="pills-Records" aria-selected="false">Records</a>
    </nav>

</div>