



@* 

<nav class="navbar" style="box-shadow: var(--admindash-nav-shadow);">
        <div class="container-fluid">





            <img class="img-fluid" id="navLogo"  style="height: 5rem;" src="~/images/trans_logo.png" />
         <a asp-action="Logout" asp-controller="Account" id="outerLogout" class="btn btn-outline-info lightInfo-btn"
               >
            Logout
        </a> 
           


            <div class="col-7 d-flex justify-content-end align-items-center" style="column-gap:2rem;">

            <h6 id="username">Welcome,@Context.Request.Cookies["UserName"]</h6>
            <a asp-action="Logout" asp-controller="Account"  class="btn btn-outline-info lightInfo-btn">
                Logout
            </a>
                <button style="width: 3rem; height: 3rem;" type="button" class="btn btn-outline-info lightInfo-btn "
                        onclick="changeTheme()">
                    <i id='themeIcon' class="bi bi-moon text-info"></i>
                </button>

            </div>

        </div>
    </nav> *@

<nav class="navbar" style="box-shadow: var(--admindash-nav-shadow);">
    <div class="container-fluid">



        <div class="LeftSideDashNav">

            <button type="button" class="btn btn-outline-info lightInfo-btn menu-btn"
                    onclick="toggleSideDashBar()">
                <i class="bi bi-list "></i>
            </button>
            <img class="img-fluid" id="navLogo" style="height: 5rem;" src="~/images/trans_logo.png" />

        </div>




        <div class="col-7 d-flex justify-content-end align-items-center RightSideDashNav">

            <h6 id="username">Welcome,@TempData["UserName"]</h6>
            <button type="button" id="outerLogout" class="btn btn-outline-info lightInfo-btn"
                    onclick="">
                <span class="text-vanish"> Logout</span> <i class="bi bi-box-arrow-left logoutIcon"></i>
            </button>
            <button style="width: 3rem; height: 3rem;" type="button" class="btn btn-outline-info lightInfo-btn "
                    onclick="changeTheme()">
                <i id='themeIcon' class="bi bi-moon text-info"></i>
            </button>

        </div>

    </div>
</nav>



<script>

    const toggleSideDashBar = () => {
        console.log(34)
        $("#SideDashBar").toggleClass("SideDashBarToggle");
    }


</script>





