

<form mthod="post" id="EncounterCaseform" asp-action="DownLoadForm" asp-controller="Admindashboard">
    <div class="modal fade" id="EncounterCaseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Encounter Form</h1>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"  aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid ">

                    <p>Encounter form finalized successfully!</p>
                    <input id="EncounterCaseModalRequestInp" hidden name="requestid" value="" />

                </div>
                <div class="modal-footer" style="justify-content:center;">
                    <button type="submit" class="btn btn-info  text-white darkInfo-btn">Download</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>



</script>