


@{
    Layout = "_Layout";
}


    <nav class="navbar">
        <div class="container-fluid">
            <img class="img-fluid" style="height: 5rem;" src="~/images/trans_logo.png" />
            <button style="width: 3rem; height: 3rem;" type="button" class="btn btn-outline-info lightInfo-btn "
                    onclick="changeTheme()">
                <i id='themeIcon' class="bi bi-moon text-info"></i>
            </button>
        </div>
    </nav>


