@model HalloDoc_DAL.InvoicingViewModels.PendingTimeSheetModel;


@{


    if (Model.TimeSheetId != null)
    {

        <table class="table ReqtableContainer">
            <thead>
                <tr style="background-color:#f1f1f1;">
                    <th class="reqtableHeader text-center" scope="col">Start Date</th>
                    <th class="reqtableHeader text-center" scope="col">End Date</th>
                    <th class="reqtableHeader text-center" scope="col">Status</th>
                    <th class="reqtableHeader text-center" scope="col">Actions</th>
                   
                </tr>
            </thead>
            <tbody style="color:var(--pi-label-color);background: var(--pi-form-back-color);">


              



                    <tr class="align-middle">
                        <td>@Model.StartDate.ToString("MMM d,yyyy")</td>
                        <td>@Model.EndTime.ToString("MMM d,yyyy")</td>
                        <td>Pending</td>
                    <td>
                        <button class="btn btn-outline-info text-info lightInfo-btn">
                            Approve
                        </button>
                    </td>
                       


                    </tr>
                
            </tbody>

        </table>



    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-7">
                <h4 class="alert alert-info fs-3  d-flex" role="alert" style="margin-top:7rem;justify-content:center;">
                   @Model.PhysicianName has not finilized timesheet!
                </h4>
            </div>
        </div>
    }
}

