
@{
    Layout = "_Layout";
}


<div class="container-fluid" style="height:100vh;">

     <div class="row"  style="">


        <div class="col-12 " style="background-color:#ffd9d9">


                 <h1 style="color:red;">Access Denied!</h1>

          </div>
            
     </div>

</div>
